$default-font: 'Raleway', sans-serif;
$default-color: #313131;
$btn-blue: #c1d8ff;
$btn-hover-blue: rgba(193, 216, 255, 0.3);
$light-grey: #f7f7f7;
$medium-grey: #ededed;
$dark-grey: #545454;
$almost-black: #525252;

/* - - - - - GENERAL - - - - - */
body {
    height: 100vh;
    font-family: $default-font;
    color: $default-color;
}
main {
    position: relative;
}
h1 {
    font-weight: lighter;
    letter-spacing: 1.7px;
    color: #313131;
}

/* - - - - - SMASH SCREEN - - - - - */
.smash-screen-page {
    text-align: center;

    img {
        position: relative;
        top: 257px;
        width: 128px;
        height: 128px;
    }
    h1 {
        position: relative;
        top: 273px;
    }
}

/* - - - - - USER LOGIN - - - - - */
.login-page {
    .login-page-logo {
        text-align: center;
        margin-top: 60px;
    }
    form {
        margin-top: 50px;
    }
    input,
    .login-btn {
        display: block;
        width: 70%;
        height: 45px;
        margin: 13px auto 0px auto;
        border-radius: 10px;
        border: 0;
        background-color: $light-grey;
        letter-spacing: 0.8px;
        cursor: pointer;
        padding-left: 10px;
    }
    .login-btn {
        background-color: $btn-blue;
        text-transform: uppercase;
        padding: 0;
        color: $default-color;

        &:hover {
            background-color: $btn-hover-blue;
        }
    }
    .btn-link {
        display: block;
        background-color: white;
        font-size: 0.8rem;
        border: 0;
        width: 70%;
        text-align: left;
        margin: 5px auto;
        color: $default-color;

        &:hover {
            color: #fa739d;
        }
    }
    .span-bold {
        font-weight: 500;
        cursor: pointer;
    }
    #errorMsg {
        text-align: center;
    }
    hr {
        width: 70%;
        margin-top: 40px;
        outline: 0;
        border: 0;
        border-top: 2px solid $medium-grey;
    }
    h4 {
        text-align: center;
        font-weight: 400;
        font-size: 1.3rem;
    }
    .google-btn {
        margin: 20px auto;
        padding: 0;
        width: 220px;
        height: 50px;
        background-color: $light-grey;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .google-icon-wrapper {
            position: absolute;
            width: 48px;
            height: 48px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .google-icon {
            width: 25px;
            height: 25px;
        }
        .btn-text {
            margin-left: 60px;
            font-size: 0.9rem;
            letter-spacing: 0.2px;
        }
        &:hover {
            background-color: $medium-grey;
        }
        &:active {
            background: black;
        }
    }
}

/* - - - - - LANDING PAGE - - - - - */
.landing-page {
    footer {
        bottom: 5px;
        margin-top: 15px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button,
        div {
            width: 25%;
            text-align: center;
        }
        img {
            width: 70px;
        }
        button {
            border: 0;
            background: 0;

            & .logout-icon {
                font-size: 35px;
                color: #a0a0a0;
            }
        }
    }
}

.landning-page-component {
    border: 2px solid $medium-grey;
    border-radius: 10px;
    margin: 7px;
    min-height: 250px;
    padding: 20px;

    .landning-page-component-header {
        display: flex;
        justify-content: space-between;
        align-items: top;
        margin-top: 10px;
    }
    h2 {
        font-weight: 400;
        margin: 0;
    }
    .info-icon,
    .plus-icon {
        font-size: 30px;
    }
    .info-icon {
        color: #a0a0a0;
    }
    .svg-arrow {
        text-align: center;
    }
    button {
        border: 0;
        background: 0;
    }
}

/* - - - - - HABITS - - - - - */
.habit {
    width: 95%;
    height: 70px;
    background-color: $medium-grey;
    margin: 20px auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h4 {
        font-size: 1.2rem;
        margin: 10px 0px 0px 20px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        white-space: nowrap;
        display: inline-block;
        cursor: pointer;
    }
    p {
        margin: 10px 0px 20px 20px;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $dark-grey;
        font-weight: 500;
        white-space: nowrap;
        display: inline-block;
    }
    .check-icon {
        font-size: 40px;
        margin-right: 20px;
        position: relative;
        z-index: 10;
    }
    .habit-not-comp {
        color: white;
    }
    .habit-comp {
        color: $dark-grey;
    }
    .colored-div {
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 12px;
    }
}

/* - - - - - NEW HABIT PAGE - - - - - */
.new-habit-page,
.edit-page {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding-top: 10px;
        margin-bottom: 25px;

        h2 {
            font-weight: normal;
            letter-spacing: 1.7px;
            text-transform: uppercase;
            color: $default-color;
            font-size: 2rem;
            width: 50%;
            text-align: center;
        }
        .buttons {
            width: 50%;

            button {
                border: 0;
                border-radius: 9px;
                font-family: $default-font;
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: $default-color;
                width: 100px;
                height: 30px;
                margin: 0 5px;

                &:first-of-type {
                    background-color: $medium-grey;
                }
                &:last-of-type {
                    background-color: $btn-blue;
                }
            }
        }
    }

    .habit-container {
        text-transform: uppercase;
        margin-left: 30px;
        margin-bottom: 30px;

        & p {
            font-size: 1rem;
            margin-bottom: 10px;
        }
        & .habitname-label {
            font-size: 1rem;
            display: block;
            margin-bottom: 10px;
        }
    }
    .input-field {
        border: 0;
        border-radius: 15px;
        background-color: $medium-grey;
        padding: 15px;
        width: 70%;
    }
    .radio {
        display: inline-flex;

        .radio__input {
            display: none;

            &:checked + .radio__label {
                background-color: #c3c3c3;
            }
        }
        .radio__label {
            margin: 5px;
            padding: 7px 20px;
            border-radius: 20px;
            font-size: 0.9rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background 0.1s;
        }
    }
    .checkbox {
        display: inline-flex;

        .checkbox__input {
            display: none;

            &:checked + .checkbox__label {
                background-color: #c3c3c3;
            }
        }
        .checkbox__label {
            margin: 5px;
            padding: 7px 20px;
            border-radius: 20px;
            font-size: 0.9rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background 0.1s;
        }
    }
    .checkbox-day {
        display: inline-flex;

        .checkbox-day__input {
            display: none;

            &:checked + .checkbox-day__label {
                background-color: #c3c3c3;
            }
        }
        .checkbox-day__label {
            margin: 0px 5px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            font-size: 0.9rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background 0.1s;
        }
    }
}

/* - - - - - EDIT HABIT PAGE - - - - - */
.edit-page {
    position: absolute;
    top: 0;

    .edit-habit-container {
        width: 90%;
        margin: 10px auto;
        background-color: $btn-blue;
        border-radius: 12px;

        .header-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background: none;
                border: 0;
                width: 20%;
            }
            span {
                width: 20%;
            }
            .trash-icon {
                font-size: 1.5rem;
                color: $dark-grey;
            }
        }
        h4 {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            color: white;
            text-align: center;
            width: 60%;
            margin: 15px;
        }
    }
    .edit-count-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        p {
            font-size: 1.4rem;
            margin: 10px 20px;
        }
        button {
            background: none;
            border: 0;
        }
        .count-icon {
            font-size: 1.5rem;
        }
    }
}
